.foot {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: xx-large;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 99.9%;
}