header {
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid yellow; */
    padding: 1.5em;
}

header svg {
    /* border: 1px solid yellow; */
    margin-left: 1em;
    margin-right: 1em;
    fill: #CECECE;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
   
}

header svg:hover {
    fill: white;
    transform: scale(1.2);
}