header {
    display: flex;
    justify-content: flex-end;
    border: 1px solid yellow;
    height: 100px;
}

header svg {
    padding: 1.5em;
    border: 1px solid yellow;
    margin-right: 1em;
    fill: #CECECE;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header svg:hover {
    fill: white;
    transform: scale(1.2);
}