main {
    color: #CECECE;
    float: left;
    width: 40%;
    height: 40%;
    margin-left: 7em;
    margin-top: 10em;
    line-height: 3em;
    border: 1px solid yellow;
}

main>p {
    font-weight: 600;
    font-size: 54px;
}

main>div>p {
    font-weight: 100;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}