.aside {
    border: 0.125em solid #CECECE;
    height: 100%;
    width: 4vw;
    margin: 0em 10em 0em 2em;
    border-radius: 0.9375em;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside:hover {
    border: 0.125em solid white;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    align-items: center;
}

.section>svg {
    fill: #CECECE;
    stroke: #CECECE;
    stroke-width: 0.00625em;
    transition: all 0.2s ease-in-out;
}

.section>svg:hover {
    cursor: pointer;
    fill: white;
    stroke: white;
    stroke-width: 0.03125em;
    transform: scale(1.2);
}



@media screen and (max-width: 375px) {
    .aside {
        border: 0.125em solid #CECECE;
        height: auto;
        width: 100%;
        margin: 0em;
        border-radius: 0;
        background-color: #1f1f1f;
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .aside:hover {
        border: 0.125em solid white;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 100%;
        align-items: center;
    }

    .section>svg {
        fill: #CECECE;
        stroke: #CECECE;
        stroke-width: 0.00625em;
        transition: all 0.2s ease-in-out;
    }

}