input[type=email],
input[type=name],
textarea {
    padding: 10px;
    background-color: transparent;
    color: #fff
}

.main {
    border: 2px solid #cecece;
    min-width: 50vw;
    max-width: 80vw;
    border-radius: 15px;
    background-color: #1f1f1f;
    padding: 20px;
    font-size: 1rem;
    line-height: 1em;
    margin: auto auto auto 0;
}

.main:hover {
    border: 2px solid #fff
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px
}

label {
    color: #fff
}

input[type=name],
textarea {
    border-radius: 4px;
    border: 2px solid #cecece;
    font-family: poppins
}

input[type=email]:focus,
input[type=name]:focus,
textarea:focus {
    outline: 0;
    border-color: #fff
}

input[type=email],
textarea {
    border-radius: 4px;
    border: 2px solid #cecece
}

button,
input,
label,
textarea {
    font-size: x-large;
    font-family: poppins;
    margin-bottom: 10px
}

input:hover,
textarea:hover {
    transition: .2s ease-in-out;
    border: 2px solid #fff;
    cursor: pointer
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #cecece;
    color: #2d2d2d;
    cursor: pointer;
    transition: background-color .3s, color .3s
}

button:hover {
    background-color: #fff;
    color: #0c0c0c
}

textarea {
    min-height: 10em
}