.main {
    width: auto;
    color: #CECECE;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto auto auto 0;
}

.main>.p {
    font-size: xx-large;
    word-spacing: 10px;
    color: #CECECE;
}

.logos>img {
    margin-right: 2em;
    margin-bottom: 4em;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 50px 50px 50px 5px;
    cursor: pointer;
}