.main {
    width: auto;
    float: left;
    color: #CECECE;
    width: 50%;
    margin-left: 7em;
    margin-top: 10em;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main>.p {
    font-size: xx-large;
    word-spacing: 10px;
    color: #CECECE;
}

.logos {
    display: flex;
    margin-left: -3em;
}

.logos>img {
    margin-right: 2em;
    margin-bottom: 5em;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 50px;
    position: relative;
    cursor: pointer;
}